.paper {
    position: 'absolute';
    width: 40%;
    background-Color: rgba(108, 109, 110, 0.808);
    border: '2px solid #000';
    display: flex;
    justify-content: center;
  }
 .modal {
    display: flex;
    justify-Content: center;
  } 