.login {
  margin-Top:100px;
  display: flex;
 flex-direction: column;
  justify-content: center;
  align-items: center;
  
  }
.avatar {
    margin: 6px;
    background-color: #F8BBD0;
  }
.form {
    width: '100%';
    margin-Top: 20px;

  }
.grid {
  margin-top: 9px;
}