.hp-side-left {
    width: 100%;
    float: right;
    border-right: 1px solid rgb(231, 229, 229);
}

.hp-side-right {
    width: 100%;
    float: right;
    border-left: 1px solid rgb(231, 229, 229);
}

.hp-suggestion{
    text-align: center;
}