.user-info {
	border-left: 0.3px solid rgb(236, 236, 236);
	border-right: 0.3px solid rgb(236, 236, 236);
	background-color: white;
	padding-bottom: 1%;
}
.avatar {
    width: 110px !important;
    height: 110px !important;
    float: left;
    margin: -60px 10px 0 5%;
    position: relative;
    background-color: white;
}
.profile_cover {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.edit-button {
	border-radius: 4px;
	border: 0.5px solid #757bad;
	background-color: transparent;
	padding: 4px 30px;
	font-size: calc(10px + 0.2vw);
}
.edit-button :hover {
	background-color: rgb(187, 184, 184);
	cursor: pointer;
}
.grid-info1 {
	display: flex;
	flex-direction: column;
	padding-left: 6%;
	padding-top: 2%;
	padding-bottom: 4%;
}
.grid-info2 {
	display: flex;
	flex-direction: column;
	padding-left: 10%;
	padding-bottom: 4%;
}
.info1 {
	padding-left: 2%;
	color: rgb(43, 43, 44);
	padding-bottom: 1%;
}
.paper {
	width: 360px;
	background-Color: white;
	border: '2px solid #000';
	display: flex;
	flex-direction: column;
	margin-top: 5%;
	margin-bottom: 5%;
	overflow: scroll;
	border-radius: 5px;
}
.modal {
	display: flex;
	justify-Content: center;
    overflow: auto !important;
}
.followings {
	font-size: medium;
	background-color: transparent;
	border: none;
	color: rgb(43, 43, 44);
}
.followers {
	font-size: medium;
	background-color: transparent;
	border: none;
	color: rgb(43, 43, 44);
}

.requests {
	font-size: medium;
	background-color: transparent;
	border: none;
	color: rgb(43, 43, 44);
}

.followings:hover {
    color: rgb(77, 77, 77);
    cursor: pointer;
    text-decoration: underline;
}

.followers:hover {
    color: rgb(77, 77, 77);
    cursor: pointer;
    text-decoration: underline;
}

.requests:hover {
    color: rgb(77, 77, 77);
    cursor: pointer;
    text-decoration: underline;
}

.grid-username{
    margin-top: 15px !important;
    font-size: x-large !important;
    color: rgb(75, 75, 75);
}

.grid-joined{
    margin-top: 15px !important;
    font-size: medium !important;
    color: rgb(163, 162, 162);
}

.grid-bio{
    margin-top: 15px !important;
    font-size: large !important;
    color: rgb(116, 116, 116);
}

.grid-follow-container{
    margin-top: -10px !important;
    margin-left: 2px  !important;
}


 
