.user-info {
	border-left: 0.3px solid rgb(236, 236, 236);
	border-right: 0.3px solid rgb(236, 236, 236);
	background-color: white;
	padding-bottom: 1%;

}
.avatar {
	width: 124px !important;
	height: 124px !important;
	float: left;
	margin: -60px 10px 0 5%;
	position: relative;
	background-color: white;
}

.edit-button {
	border-radius: 4px;
	border: 0.5px solid #757bad;
	background-color: transparent;
	padding: 4px 30px;
	font-size: calc(10px + 0.2vw);

	
}
.edit-button :hover {
   background-color: rgb(187, 184, 184);
   cursor: pointer;
}
.grid-info {
	display: flex;
	flex-direction: column;
	margin-left: 7%;
	margin-top: 1%;
	margin-bottom: 2%;
	
	
}
.button-edit {
	margin-right: 8%;
	padding-left: 40vw;
	
}
.info-buttom{
	display: flex;
	align-items: flex-start;
	justify-content: left;
	
	min-width: 30rem;
}
.info1 {
	display: flex;
	flex-direction: column;
	color: rgb(115, 115, 122);
}
.info2 {
	display: flex;
	flex-direction: row;
	padding-right: 10%;
	color: rgb(115, 115, 122);
}
