.tweet-box {
  display: block;
  width: 100% !important;
  margin: auto;
  overflow: auto;
  padding: 10px;
  border-radius: 4px;
}

.tweet-box textarea {
  display: block;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  border: solid 1px whitesmoke;
  resize: none;
  border-radius: 4px;
}

.tweet-box textarea:hover {
  border: solid 1px rgb(187, 187, 187);
}

.tweet-box textarea:focus {
  border: solid 1px rgb(156, 156, 156) !important;
  outline: none;
}

.bottom-bar {
  justify-content: space-between;
}

.bottom-bar .clear {
  float: left;
  font-size: x-large;
}

.tweet-box-button {
  width: 100%;
  margin-top: 10px !important;
  box-shadow: none !important;
  float: right;
}

