.tweet-box {
  display: block;
  width: 60% !important;
  margin: auto;
  overflow: auto;
  padding: 10px;
  border-radius: 4px;
  margin-top: 50px;
  box-shadow: 0px 4px 100px 0px rgb(0 0 0 / 20%);
}

.tweet-box textarea {
  display: block;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  border: solid 1px whitesmoke;
  resize: none;
  border-radius: 4px;
}

.tweet-box textarea:hover {
  border: solid 1px rgb(187, 187, 187);
}

.tweet-box textarea:focus {
  border: solid 1px rgb(156, 156, 156) !important;
  outline: none;
}

.bottom-bar {
  justify-content: space-between;
}

.bottom-bar .clear {
  float: left;
  font-size: x-large;
}

.bottom-bar .icon-button {
  height: 40px;
  width: 40px;
}

.bottom-bar .submit {
  float: right;
}

.bottom-bar .icon-container {
  align-self: center;
}

.tweet-box-button {
  width: 100%;
  margin-top: 10px !important;
  box-shadow: none !important;
}

@media screen and (max-width: 600px) and (min-width: 0px) {
  .tweet-box {
    width: 90% !important;
  }
}

@media screen and (max-width: 900px) and (min-width: 600px) {
  .tweet-box {
    width: 80% !important;
  }
}
