.profile{
height: 100vh;
width: 100vw;
}
.profile_info{
    justify-content: center;
    margin-right: 20%;
    margin-left:20% ;
    
    
}
.info3{
    display: flex;
    flex-direction: row; 
}
.button{
    background-color: white;
    border: none;
    font-size: 12px;
    width: 25%;
    
}
.button-tweet{
    background-color: white;
    border: none;
    border-left: 0.5px solid black ; 
    font-size: 12px;
    width: 25%;
    
}
.button-rooms{
    background-color: white;
    border: none;
    border-right: 0.5px solid black ; 
    font-size: 12px;
    width: 25%;
    
}
.button:hover {
    background-color: rgb(244, 245, 248);
    border-bottom: 0.5px solid rgb(5, 5, 7) ; 
  }
  .button-tweet:hover {
    background-color: rgb(244, 245, 248);
    border-bottom: 0.5px solid rgb(0, 0, 0) ; 
  }
  .button-rooms:hover {
    background-color: rgb(244, 245, 248);
    border-bottom: 0.5px solid rgb(0, 0, 0) ; 
  }
  .profiletabs{
    margin-right: 20%;
    margin-left:20% ;
  }
 