#counter-container {
  /*place the items in row and align them vertically*/

  position: relative;
}

circle {
  fill: none;
  stroke-width: 3;
}

#gray {
  stroke: lightgray;
}

svg {
  width: 40px;
  height: 40px;
  top: 5px;
}

p {
  position: absolute;
  left: 9px;
  top: 1px;
  font-size: small;
}

/*settings for mobile*/

@media only screen and (max-width: 500px) {
  #counter {
    justify-content: center;
  }

  #tweet {
    align-items: center;
  }
}

/*only for embedded pen in Medium*/
@media only screen and (max-height: 300px) {
  svg {
    height: 20vh;
    width: 20vh;
  }
}
